.App {
  background: url(images/bg1.jpg);
  width: 100%;
  height: 720px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  box-shadow: inset 0 0 0 2000px rgba(5, 5, 5, 0.5);
}
